<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80;">
  <div class="banner-card">
    <div class="banner-card-info">
      <h1>Match your strenghts with the best opportunity</h1>
      <p>Find your dream job!</p>
      <%= link_to "Start here!", root_path, class: "button"   %>
    </div>
  </div>
  <div class="banner-strengths">
    <div class="banner-strengths-info">
      <div class="banner-strengths-info-types">
        <i class="fas fa-shipping-fast"></i>
        <h3>Agile</h3>
        <p>Get a job fast <br>
           and easy!</p>
      </div>
      <div class="banner-strengths-info-types">
        <i class="fas fa-crosshairs"></i>
        <h3>Accurate</h3>
        <p>Get the best job <br>
          for you!</p>
      </div>
      <div class="banner-strengths-info-types">
        <i class="fas fa-thumbs-up"></i>
        <h3>Trust-worthy</h3>
        <p>Reliable business partner!</p>
      </div>
    </div>
  </div>
</div>